@import '~taro-ui/dist/style/components/flex.scss';
.follow {
  .follow-item {
    background-color: #ffffff;
    margin-top: 5px;
    .item-header-info {
      display: flex;
      padding: 12px 15px;
      align-items: center;
      .user-info {
        padding-left: 10px;
        .title {
          font-size: 14px;
        }
        .info {
          font-size: 11px;
          color: #b2b2b2;
        }
      }
    }
    .photograph-warp {
      image {
        width: 100%;
      }
    }
    .main-title {
      padding: 10px;
      font-size: 16px;
    }
    .tag-list {
      padding: 2px 12px;
      .tag {
        display: inline-block;
        font-size: 11px;
        padding: 2px 4px;
        border-radius: 2px;
        background-color: #e7e7e7;
        color: #229c5e;
      }
    }
    .tool-bar {
      display: flex;
      padding: 15px 15px;
      justify-content: space-between;
      .left {
      }
      .right {
        display: flex;
        color: #b2b2b2;
        .item {
          padding: 0 20px;
          text {
            padding-left: 8px;
            font-size: 11px;
          }
        }
        .item:last-child {
          padding: 0;
        }
      }
    }
  }
}
