@import '~taro-ui/dist/style/components/flex.scss';
.follow {
  .follow-item {
    background-color: #ffffff;
    margin-top: 10px;
    .item-header-info {
      display: flex;
      padding: 24px 30px;
      align-items: center;
      .user-info {
        padding-left: 20px;
        .title {
          font-size: 28px;
        }
        .info {
          font-size: 22px;
          color: #b2b2b2;
        }
      }
    }
    .photograph-warp {
      image {
        width: 100%;
      }
    }
    .main-title {
      padding: 20px;
      font-size: 32px;
    }
    .tag-list {
      padding: 4px 24px;
      .tag {
        display: inline-block;
        font-size: 22px;
        padding: 4px 8px;
        border-radius: 4px;
        background-color: #e7e7e7;
        color: #229c5e;
      }
    }
    .tool-bar {
      display: flex;
      padding: 30px 30px;
      justify-content: space-between;
      .left {
      }
      .right {
        display: flex;
        color: #b2b2b2;
        .item {
          padding: 0 40px;
          text {
            padding-left: 16px;
            font-size: 22px;
          }
        }
        .item:last-child {
          padding: 0;
        }
      }
    }
  }
}
