.square {
  background-color: #ffffff;
  .list-item {
    display: flex;
    padding: 24px 30px;
    align-items: center;
    .item-detail {
      padding-left: 20px;
      .title {
        font-size: 28px;
      }
      .info {
        font-size: 22px;
        color: #b2b2b2;
      }
    }
  }
}
