.square {
  background-color: #ffffff;
  .list-item {
    display: flex;
    padding: 12px 15px;
    align-items: center;
    .item-detail {
      padding-left: 10px;
      .title {
        font-size: 14px;
      }
      .info {
        font-size: 11px;
        color: #b2b2b2;
      }
    }
  }
}
