$itemBg1: #720026;
$itemBg2: #CE4257;
$itemBg3: #FFC093;
$itemBg4: #FF7F51;
$bg: #0D0630;
@mixin setColorAndHover($baseColor) {
  color: $baseColor;
  &:hover {
    background: lighten($baseColor, 8%);
  }
}

.masonry-layout {
  display: flex;
  background-color: #f7f7f7;

  .column {
    display: flex;
    flex-direction: column;
    .item {
        margin-top: 10PX;
        background-color: aquamarine;
      }
  }
}
