.index {
  width: 100%;
  height: 100vh;
  .at-nav-bar {
    height: 72px;
    padding: 0 20px 0 20px;
    .at-nav-bar__left-view {
      padding: 0;
    }
    .at-nav-bar__right-view {
      height: auto;
    }
    .header-title {
      font-size: 32px;
      .header-item {
        padding: 4px 16px;
        color: #b2b2b2;
      }
      .active-item {
        color: black;
      }
    }
    .at-icon {
      font-size: 40px !important;
    }
  }
  .at-nav-bar:after {
    border: none;
  }

  .homepage-swiper {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;
    .swiper-tab {
      width: 100%;
      height: 100vh;
    }
    .tab-follow {
      background-color: coral;
    }
    .tab-recommend {
      background-color: darkgoldenrod;
    }
    .tab-latest {
      background-color: darksalmon;
    }
  }
}
