.index {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  .at-nav-bar {
    padding: 0 10PX 8PX 10PX;
    .header-title {
      font-size: 16PX;
      .header-item {
        padding: 2PX 8PX;
        color: #b2b2b2;
      }
      .active-item {
        color: black;
      }
    }
    .at-icon {
      font-size: 20PX !important;
    }
  }
  .at-nav-bar:after {
    border: none;
  }

  .homepage-swiper {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 53PX;
    background-color: #f4f4f4;
    .swiper-tab {
      width: 100%;
      height: 100vh;
    }
    .tab-follow {
      background-color: coral;
    }
    .tab-recommend {
      background-color: darkgoldenrod;
    }
    .tab-latest {
      background-color: darksalmon;
    }
  }
}

