@import "~taro-ui/dist/style/components/flex.scss";
.recommend {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  .hot-topic {
    text-indent: 12PX;
    font-size: 12PX;
    color: #b2b2b2;
    font-weight: 300;
  }
  .recommend-swi-warp {
    height: 128PX;
    .recommend-swi-item {
      overflow: hidden;
      .topic-item {
        float: left;
        width: 50%;
        height: 45PX;
        margin-top: 5PX;
        .topic-image {
          display: flex;
          align-items: center;
          justify-content: center;
          image {
            height: 40PX;
            width: 40PX;
          }
        }
        .topic-info {
          .topic-title {
            margin-top: 5PX;
            font-size: 14PX;
          }
          .topic-number {
            font-size: 12PX;
            color: #b2b2b2;
          }
        }
      }

    }
  }
  .second-swi {
    height: 220PX;
  }
}
